.archive {
  padding-bottom: 20px;
  
  .single-title {
    margin: 0;
    padding: 30px $single-hpadding 0;
    font-size: 1.6rem;
    // text-align: right;
  }

  .group-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 30px $single-hpadding 0;
  }

  @import "../_partial/_archive/terms";
  @import "../_partial/_archive/tags";
}
