.cef img {
	width: 100%;
	min-height: 100px;
	height: 100%;
	object-fit: cover;
}

.cef div:first-child {
	margin: 0 5px 0 0;
}

.cef div {
	position: relative
}

.cef div ul {
	position: absolute;
	bottom: 0;
	background: #00000080;
	color: white;
	margin: 0 !important;
	opacity: 0;
	padding: 5px 10px !important;
}

.cef div:hover ul {
	opacity: 1;
}

.cef ul li.ph-f,
.cef ul li.ph-e,
.cef ul li.ph-i {
	display: inline;
	padding: 1px 4px;
	border: 1px solid white;
	border-radius: 5px;
}

.cef ul li.ph-c,
.cef ul li.ph-l,
.cef ul li.ph-loc {
	list-style: none;
}