.hgrid img {
	width: 100%;
	min-height: 100px;
	height: 100%;
	object-fit: cover;
}

.hgrid div:first-child {
	margin: 0 5px 0 0;
}

.content>.photo {
	margin: 0px -50px;
	background-color: red;
	display: flex;
}

.content>.photo>img {
	width: 100%
}

.photo {
	position: relative
}

.exif {
	position: absolute;
	bottom: 5px;
	left: 5px;
	background: #00000080;
	color: white;
	margin: 0 !important;
	opacity: 0;
	padding: 5px 10px !important;
	border-radius: 5px;
}

.photo:hover ul {
	opacity: 1;
}

.exif li {
	list-style: none;
	font-size: smaller;
}

.photo ul li.ph-f,
.photo ul li.ph-e,
.photo ul li.ph-i {
	display: inline;
	padding: 1px 4px;
	border: 1px solid white;
	border-radius: 5px;
}

.photo ul li.ph-loc {
	display: inline;
	padding: 1px 4px;
}

.photo ul li.ph-loc a {
	color: white;
}

.photo ul li.ph-c,
.photo ul li.ph-l,
.photo ul li.ph-loc {
	margin: 5px 0;
	line-height: 1em
}