{{ $imagePath0 := .Get 0 }}
{{ $image0 := .Page.Resources.GetMatch $imagePath0 }}
{{ $image0 := $image0.Resize "x400" }}
{{ $image0r := div $image0.Height (mul $image0.Width 1.0) }}
{{ $imagePath1 := .Get 1 }}
{{ $image1 := .Page.Resources.GetMatch $imagePath1 }}
{{ $image1 := $image1.Resize "x400" }}
{{ $image1r := div $image1.Height (mul $image1.Width 1.0) }}

<style>
.cef img {
  width: 100%;
  min-height: 100px;
  height: 100%;
  object-fit: cover;
}
</style>
<div class="cef" style="display: flex; margin: 0 -50px">
	<div style=" margin: 0 5px 0 0">
		<img src="{{ $image0.RelPermalink }}"/>
	</div>
	<div>
		<img src="{{ $image1.RelPermalink }}"/>
	</div>
</div>